.u-section-1 {
    background: rgba(0, 0, 0, 0.35);
    background-image: url("/images/background.webp");
    background-blend-mode: darken;
    background-position: 50% 50%;
    background-size: cover;
}

    .u-section-1 .u-sheet-1 {
        min-height: 725px;
    }

    .u-section-1 .u-group-elements-1 {
        width: 160px;
        min-height: 208px;
        height: auto;
        margin: 40px auto 0 50px;
    }

    .u-section-1 .u-image-1 {
        height: auto;
        background-image: url("/images/logo.jpg");
        background-position: 50% 50%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.875rem;
        margin: 0;
    }

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 358px;
    }

    .u-section-1 .u-image-1 {
        width: auto;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 274px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 206px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1rem;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 130px;
    }
}
/*///////////////////////*/



.card {
    background-color: white;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 400px;
    margin: 0 auto;
}

.container {
    max-width: 100%;
    padding-top: 1rem;
}

    .container .btn {
        width: 100%;
    }