<div class="container">
  <h1>Login</h1>
  <form #form="ngForm" (ngSubmit)="loginUser()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      name="email" [(ngModel)]="login.email">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"
      name="password" [(ngModel)]="login.password">
    </div>
    <div>
      <p>Dont have an account yet? You can register here:
        <a routerLink="/users/register">Register</a>
      </p>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button *ngIf="isLoggedIn()" type="button" class="btn btn-warning" (click)="logoutUser()">Logout</button>
    <strong *ngIf="errorMessage">Warning!</strong> {{errorMessage | json}}
  </form>
</div>